dotenv
plotly
pymongo
chardet
faiss-cpu
streamlit
matplotlib
pdfplumber
autogen-ext
python-docx
nest_asyncio
sentence_transformers
autogen-agentchat
autogen-agentchat[models]
pydantic[email]
autogen-ext[docker]
autogen-ext[openai,azure]